
@import 'variables';

footer {
	flex-shrink: 0;
    padding: 2em 20%;
    background-color: $black;
    color: $white;
    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1em;
        align-items: center;
        justify-content: center;

        .col {
            justify-self: center;
        }

        li {
            text-decoration: none;
            list-style-type: none;
        }
    }
}
